<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>口コミの評判分析</title>
</head>
<body>

    <form action="{% url 'sentimentanalysis:result' %}" method="post">
      <div class"msr_search_04">
        {% csrf_token %}
        {{ form }}
        <label>URLを入力してください1</label><br>
        <input type="url" name="url" maxlength="1000" value="" placeholder="URLをコピペしてください"><br>
        <label>URLを入力してください2</label><br>
        <input type="url" name="url2" maxlength="1000" value="" placeholder="URLをコピペしてください"><br>
        <input type="submit" value="送信">
      </div>
    </form>
</body>
