<html>
<head>
    <title>口コミの評判分析</title>
    <meta name="viewport" content="width=device-width" >
</head>
<body>
  {% load static %}
  <div class"inline-block_test">
  <li>{{url}}
  の結果はこちら<br>
    <h1>Positive Word</h1><br>
      <img src="{% static "images/wordcloud_positive.png" %}" alt=""><br>
    <h1>Negative Word</h1><br>
      <img src="{% static "images/wordcloud_negative.png" %}" alt=""></li><br><br><br>
  <li>{{url2}}
  の結果はこちら<br>
    <h1>Positive Word</h1><br>
      <img src="{% static "images/wordcloud_positive2.png" %}" alt=""><br>
    <h1>Negative Word</h1><br>
      <img src="{% static "images/wordcloud_negative2.png" %}" alt=""><br></li>
  </div>
</body>
